/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
}


.pageContainer {
    margin: auto;
	width: 880px;
}

@media(max-width: 800px) {
    .pageContainer {
        width: 750px;
    }
}

header {
	display: flex;
	justify-content: space-between;
	margin: 30px auto;
}

@media(max-width: 800px) {
    header {
        flex-direction: column-reverse;
    }
}

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 600px;
}

@media(max-width; 800px) {
    nav {
        justify-content: space-between;
    }
}

.logo {
    margin: auto;
}

@media(max-width: 800px) {
    .optImg {
        display: none;
    }
}

a {
	color: grey;
    text-decoration: none;
}

section {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}

@media(max-width: 800px) {
    section {
    }
}

.contLand {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
	font-size: 56pt;
	text-align: center;
    padding: 50px;
	height: 379px;
    width: 379px;
}

button {
	height: 30px;
	width: 250px;
	background: white;
	border: 1px solid grey;
}


footer {
	text-align: center;
	margin: 20px;
}

.boxes {
	display: flex;
	justify-content: space-between;
	width: 880px;
	margin: 20px auto;
}

.contHalf {
	width: 50%;
	margin: 20px 0;
}

.contThird {
	width: 33%;
	margin: 20px 0;
}

.toTheLeft {
	justify-content: left;
	margin-bottom: 50px;
}

@media (max-width: 800px) {
    .boxes {
    width: 100%;
    }

}